*.csv
*.db
*.hash
*.spec
*.sql
*.xlsx
.DS_Store
.vscode/
/.pytest_cache/
/.ruff_cache/
/.rumdl_cache/
/.venv/
2run.cmd
__pycache__/
build/
cspell-words-missing.txt
dist/
sql2csv.exe
sql2csv_credentials.py
