.DS_Store
/.coverage
/.pytest_cache/
/.ruff_cache/
/.rumdl_cache/
/.venv/
/coverage.xml
/coverage_report/
/data/
/htmlcov/
/output/
__pycache__/
cspell-words-missing.txt
src/influx_creds.py
src/name_fix.py
uv.lock
